html,
body {
	padding: 0;
	margin: 0;
	color: #00136c;
	background-color: #f5f5f5;
}

/* #0e1111 / #22303C / #0A0A0A */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.modal-overlay {
		@apply fixed top-0 left-0 w-full h-full bg-dark/20 backdrop-blur z-10;
	}
	.modal {
		@apply bg-primary/70 backdrop-blur rounded-lg  h-[90vh] w-[95vw] lg:my-[15vh] lg:h-[75vh] lg:w-[75vw] mx-auto;
	}
	.social-icons {
		@apply text-3xl;
	}
}
